# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\D@MyStudy\GITHUB\GITHUB_STUDY\PYTHON_STUDY\jumptoflask\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
