# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\mlab_work\816_mtrace_web\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
