{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="item-center py-5 px-3">
        <br>
        <br>
        <br>
        <h3>#300</h3>
        <h3>작업 결과페이지</h3>
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="..." alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title"><<동영상 썸네일</h5>
                        <p class="card-text">
                            동영상 타이틀: <br>
                            검색 날짜: <br>
                            키워드: <br>
                        </p>
                        <p class="card-text"><small class="text-muted"></small></p>
                    </div>
                </div>
            </div>
        </div>

        <br>
        <br>
        <div class="container">
            검색결과1<br>
            URL:<br>
            타이틀:<br>
            채널명:<br>
            구간대:<br>
            영상 유사도:<br>
            <br>

            <div class="row">
                <div class="col-sm-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">기준 동영상 플레이</h5>
                            <p class="card-text">PLAY VIDEO</p>
                            <p class="card-text"></p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">기준동영상 캡쳐</h5>
                            <p class="card-text">CAPTURE_1</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">기준동영상 캡쳐</h5>
                            <p class="card-text">CAPTURE_2</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">기준동영상 캡쳐</h5>
                            <p class="card-text">CAPTURE_3</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">검색동영상 플레이</h5>
                            <p class="card-text">PLAY VIDEO</p>
                            <p class="card-text"></p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">기준동영상 캡쳐</h5>
                            <p class="card-text">CAPTURE_1</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">기준동영상 캡쳐</h5>
                            <p class="card-text">CAPTURE_2</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">기준동영상 캡쳐</h5>
                            <p class="card-text">CAPTURE_3</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>





    {% endblock %}