{% extends 'base.html' %}
{% block content %}

    <h2>포스트로 받은 video_url 입력 값: {{ vvvvv }}</h2>
    <h2>포스트로 받은 keyword 입력 값: {{ aaaaa }}</h2>

    <h4>나의 분석 목록</h4>
    <h5>분석중</h5>
    <div>
        <tr>
            <td> 기준동영상</td>

            <td> 기준동영상 정보</td>
            <td> 유사동영상썸네일1</td>
            <td> 유사동영상 썸네일2</td>
            <input type="button" value="결과보기">
        </tr>
    </div>

    <div>
        <tr>
            <td> 기준동영상</td>
            <td> 기준동영상 정보</td>
            <td> 유사동영상썸네일1</td>
            <td> 유사동영상 썸네일2</td>
            <input type="button" value="결과보기">
        </tr>
    </div>


{% endblock %}