{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="text-center py-5 px-3">
        <br>
        <br>
        <br>
        <h1>#100</h1>
        <h1>유사 영상 검색 및 분석</h1>
        <h5>bootstrap 레이아웃</h5>
        <br>
        <br>
        <br>
        <br>
        <br>
        <!--로그인 상태일때와 비로그인 상태일때 form으로 넘겨주는 페이지가 다름-->
        <form action="{{ url_for('analysis.search_main') }}", method="post">
            <p>유튜브 영상검색
                <input type="text" name="video_url" >
                <input type="submit" value="검색">
            </p>
         </form>
        <!--    {% if not g.user %}disabled{% endif %}-->
        <br>
        {% if aaa %}
        <table class="table">
            <td>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/{{aaa}}?autoplay=1&mute=1"
                 frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </td>
            <td>
                <h4>YOUTUBE_ID::{{aaa}}</h4>
                <h4>YOUTUBE_ID::{{aaa}}</h4>
                <h4>YOUTUBE_ID::{{aaa}}</h4>
                <h4>YOUTUBE_ID::{{aaa}}</h4>
            </td>
        </table>
    </div>
</div>
    {% else %}
    {% endif %}



{% endblock %}