<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script>
        function goData(){
        var form = document.userinput;
    
        form.submit();
    }
    </script>
</head>
<body>

    <form action="test_result" method="post">
        <input type="text" name="imgbase_search_videoid">
        <input type="submit" value="연습">
      </form>
    <a href="test_result.html">ㅇㅇㅇ</a>

    <form action="test_result" method="post">

        
    </form>
     
      
</body>
</html>